<html>
<head><title>blah</title></head>
<body>
        <table border ='1px'>
                {% for timeslot in timeslots %}
                <tr>
                        <!-- need to put a check for star_time and/or location here I think- how else do you split over several lines? -->
                        <td>
                                {{timeslot.start_time}}
                        </td>

                        {% for event in timeslot.event_timeslot.all %}
                        <td>
                                <p>{{event.title}} ({{event.location}}) </p> <p> {{event.description}} </p> <p> {{event.contact}} </p>
                        </td>
                        {% endfor %}
                </tr>
                {% endfor %}

        </table>
</body>
</html>
