<html>
<head><title>blah</title></head>
<body>
        <table border ='1px'>
                <tr>
                        <td></td>
                        {% for location in locations %}
                        <td>
                                {{location.venue}}
                        </td>
                        {% endfor %}
                </tr>
                {% for timeslot, location_event in timetable.items %}
                <tr>
                        <td>
                                {{timeslot}}
                        </td>
                        {% for location, event in location_event.items %}

                        <td>
                                {{event.title}}
                        </td>
                        {% endfor %}
                </tr>
                {% endfor %}
                
        </table>
</body>
</html>
